.type_stack_wrapper {
  padding: 16px 27px 16px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
}
.type_stack_heading_bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6px;
}
.type_stack_heading_regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 6px;
}
.type_stack_info_wrapper {
  display: flex;
  flex-direction: column;
}
.type_stack_image_wrapper {
  width: 54%;
}
.type_stack_image {
  width: 100%;
  height: 100%;
}
.type_scale_wrapper {
  padding: 22px 20px 37px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
}
.type_scale_subhead_wrapper {
  margin-bottom: 15px;
}
.type_scale_headline1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
}
.type_scale_headline2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.type_scale_headline3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.type_scale_paragraph1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.type_scale_paragraph2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.type_scale_caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.color_wrapper {
  padding: 22px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
}
.color_info_wrapper {
  width: 63%;
  height: 125px;
  background-color: red;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color_company_name,
.color_hex {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #ffffff;
}
.pairing_wrapper {
  padding: 22px 70px 20px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
}
.pairing_info_wrapper {
  width: 448px;
  display: flex;
  flex-direction: column;
}
.pairing_margin {
  margin-bottom: 13px;
}
.line_width_wrapper {
  padding: 83px 52px 61px 78px;
  display: flex;
  flex-direction: column;
}
.line_width_heading {
  margin-bottom: 60px;
}
@media only screen and (max-width: 660px) {
  .line_width_wrapper {
    padding: 60px 0px 41px 0px;
    display: flex;
    flex-direction: column;
  }
  .line_width_heading {
    text-align: justify;
  }
  .line_width_paragraph {
    text-align: justify;
  }
  .type_stack_wrapper {
    padding: 16px 27px 16px 20px;
    flex-direction: column;
  }
  .type_stack_image_wrapper {
    width: 100%;
  }
}
