.line {
  height: 1px;
  background-color: #ececec;
  margin-bottom: 108px;
  margin-right: 111px;
}
@media only screen and (max-width: 1270px) {
  .line {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 660px) {
  .line {
    margin-bottom: 55px;
  }
}
