.container {
  width: 100%;
}
.wrapper {
  margin-left: 110px;
}
.intro_heading_image_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 118px;
}
.section {
  width: 53.44vw;
}
.type_stack_section {
  height: auto;
}
.type_stack_heading {
  margin-bottom: 37px;
}
.card_containers:not(:last-child) {
  margin-bottom: 16px;
}
.type_stack_card_container_wrapper {
  margin-bottom: 120px;
}

.type_scale_section {
  height: auto;
}

.type_scale_heading {
  margin-bottom: 61px;
}
.type_scale_subheading_wrapper {
  margin-bottom: 52px;
}
.type_scale_subheading {
  margin-bottom: 15px;
}
.type_scale_card_container_wrapper {
  margin-bottom: 127px;
}
.color_section {
  height: auto;
}
.color_heading {
  margin-bottom: 76px;
}
.color_container_wrapper {
  margin-bottom: 123px;
}
.pairing_section {
  height: auto;
}
.pairing_heading {
  margin-bottom: 73px;
}
.pairing_container_wrapper {
  margin-bottom: 143px;
}
.line_width_heading {
  margin-bottom: 46px;
}
.line_width_container_wrapper {
  margin-bottom: 263px;
}
.footer {
  padding-right: 111px;
  padding-bottom: 42px;
}

@media only screen and (max-width: 1270px) {
  .wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
  .intro_heading_image_wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 118px;
  }
  .section {
    width: 100%;
  }
  .footer {
    padding-right: 0px;
    padding-bottom: 42px;
  }
}
@media only screen and (max-width: 770px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .line_width_container_wrapper {
    margin-bottom: 130px;
  }
}
@media only screen and (max-width: 660px) {
  .type_stack_card_container_wrapper {
    margin-bottom: 60px;
  }
}
