.container {
  width: 100%;
  margin-left: 110px;
}
.intro_heading_image_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 118px;
}
.type_stack_section {
  height: auto;
}
.type_stack_heading {
  width: 53.44vw;
  margin-bottom: 37px;
}
