.container {
  width: 100%;
  margin-left: 110px;
}
.intro_heading_image_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 118px;
}
.type_stack_section {
  height: auto;
}
.type_stack_heading {
  width: 53.44vw;
  margin-bottom: 37px;
}
.card_containers:not(:last-child) {
  margin-bottom: 16px;
}
.type_stack_card_container_wrapper {
  margin-bottom: 120px;
}
.type_scale_section {
  height: auto;
}
.type_scale_heading {
  width: 53.44vw;
  margin-bottom: 61px;
}
.type_scale_subheading_wrapper {
  width: 53.44vw;
  margin-bottom: 52px;
}
.type_scale_subheading {
  margin-bottom: 15px;
}
.type_scale_card_container_wrapper {
  margin-bottom: 127px;
}
.color_section {
  height: auto;
}
.color_heading {
  margin-bottom: 76px;
  width: 53.44vw;
}
.color_container_wrapper {
  margin-bottom: 123px;
}
.pairing_section {
  height: auto;
}
.pairing_heading {
  width: 53.44vw;
  margin-bottom: 73px;
}
.pairing_container_wrapper {
  margin-bottom: 143px;
}
